.common-layout-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  width: auto;
  overflow: hidden;

  .common-layout-page-leftnav {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    width: 200px;
    height: auto;
    overflow: visible;
    background-color: #111;
    color: #eee;
  }

  .commmon-layout-page-topnav {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: auto;
    height: 50px;
    width: auto;
    overflow: visible;
    background-color: #aaa;
  }

  .common-layout-page-children {
    position: absolute;
    top: 50px;
    left: 200px;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow: auto;
    background-color: #eee;
  }
}
